<% provide(:title, 'Sign up') %>
<h1>Create Account</h1>

<div style="margin-left:30px;">
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>